* {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.hyp {
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    justify-content: center;
}

ul li {
    padding: 5px;
    list-style-type: none;
    background-color: rgb(231, 60, 88);
    text-align: center;
    width: 300px;  
    font-size: 20px;
    font-weight: 100;  
    
}



body {
    font-family: 'Roboto' , sans-serif;
}

#texto2 {
    color: rgb(231, 60, 88);
    font-size: 40px; 
    font-weight: 500;
}

.laratitulo{
    color: black;
    font-size: 25px;
    font-weight: 300;
}

.parrafo-nosotros {
    color:rgb(5, 5, 5);
    font-size: 20px;
    font-weight: 100;
}

header {
    grid-area: header;

}
.logo {
    margin-left: 45%;
    margin-bottom: 2%;
}

#grilla {
    display: grid;
    grid-template-areas: 
    "header header header"
    "textoBK textoBK textoBK"
    "imagenportada aside blank_"
    "footer footer footer"
    ;
    grid-template-rows: repeat(4 1fr);
    grid-template-columns: repeat(3 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    
    margin: 2%;
}

section#textoBK {
    grid-area: textoBK;
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-right: 2%;
}

section#imagenportada {
    grid-area: imagenportada;
    margin: 2%;
    margin-left: 5%;
}

aside {
    grid-area: aside;
    
}

footer {
    grid-area: footer;
    background-color: rgb(231, 60, 88);
    margin-top: 5%;
}


.titulo-lista {
    color:rgb(231, 60, 88);
    font-size:  20px;
    list-style: circle;
    list-style-position: inside;
    background-color: white;
}

.instagram {
    color: white;
    text-decoration: none;
    
}

.facebook {
    color:white;
    text-decoration: none;
}

.twitter {
    color: white;
    text-decoration: none;
}

